!!! XML
!!! Strict

%html
  %head
    %title result - JSMN (Journal Suggstion using MedliNe)
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
      %link{:rel => :stylesheet, :href => "./jsmn_stylesheet.sass", :type => "text/css"}

  %body
    %h1.title Result
    %h2== Common distinctive words
    %p== #{@intersections.join(", ")}
    %table
      %tr
        %th Journal title
        %th Similarity
        %th Distinctive words
        %th Quasi impact factor
        - @similarity.each do |v|
          %tr
            %td== #{@content_title[v[0]]}
            %td== #{sprintf("%.5f",v[1])}
            %td== #{@top_words[v[0].to_i].join(", ")}
            %td== #{@ifs[@content_title[v[0]]]}
                
    %a{:href => "/JSMN"}top